<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>timestamp-ms</title>
    <link href="/stylesheets/main.css" rel="stylesheet">
  </head>
  <body>
    <h1>Timestamp Microservice</h1>
    <h3>Usage</h3>
    <div>
      <code>http://localhost:3000/api/January%207,%202016</code><br /><br />
      <code>http://localhost:3000/api/1452184600</code>
    </div>
    <h3>Output</h3>
    <div>
      <code>{ "unix": 1452184600, "natural": "January 7, 2016 }</code>
    </div>
  </body>
</html>
