.tile {
  height: 200px;
  width: 250px;
  border-radius: 10px;
  margin: 10px 10px;
  transition: ease-in-out 300ms;
}

.clicked {
  transition: ease-in-out 300ms;
  opacity: 0.7;
  transform: scale(1.1);
  border-color: #010101;
  box-shadow: 0 0 1rem #010101;
}

#board {
  padding-top: 20px;
}

#display {
  padding-top: 30px;
}

#tile-0 {
  background-color: #2baa51;
}

#tile-1 {
  background-color: #cc3b36;
}

#tile-2 {
  background-color: #ecea4b;
}

#tile-3 {
  background-color: #623cec;
}
