body {
/*    background: url('https://www.w3schools.com/css/trolltunga.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background: pink;
}

h1 {
    color: rgba(0, 200, 100, 0.4);
    border-color: purple;
    border-width: 5px;
    border-style: dashed;
}

h4 {
    background: rgb(255, 100, 80);
    border: 5px solid red;
}
