body { margin: 60px 0px 60px 0px; }

.spirit1 { padding: 60px 200px 20px 200px; }

.track1 { padding-top: 40px; }

.quote1 { margin: 60px 0px 60px 0px;
          padding: 10px;
          border: 2px solid;
          border-radius: 15px; }